

.dash-cont{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 19rem;    
    background-color: rgb(247, 245, 242);
    width: 73%;
    height: fit-content;
    margin-right: 50px;
    
    
   
  }
  .dash-main{
    margin-top: 8rem;    
    margin-left: 50px;
  }
  .dash-main h6{
    margin-top: 0px;
    font-size: 14px;
    font-weight: bolder;
  }
    /* .div-cards{
     margin-bottom: 12rem;
     margin-left: 35px;
    } */
.dash-chart{
   margin-top: 0px;
    padding: 50px;
    
}
.pie-div{
    margin-left: 21rem;
    margin-top: -295px;
    background-color: #fff;
    height: 280px;
    width: 250px;
   
}
.btn-div{
    background-color: #fff;
    margin-left: 37rem;
    margin-top: -280px;
    height: 280px;
    width: 220px;
    padding: 2rem;
    justify-content: space-between;
    padding-top: 2px;
}
.form-icr{
  background-color: #fff;
  height: 650px;
  width: 52rem;
  margin-left: 3rem;
  display: flex;
  margin-bottom: 100px;
}
option{
  font-size: 10px;
 
}
.icr-main{
  margin-top: 9rem;    
  margin-left: 50px;
}
.icr-main h6{
   font-size: 14px;
  font-weight: bolder;
}
.form-icr-2{
  margin-top: 50px;
}
.form-1{
  display: flex;
  margin-left: 10px;
}
.form-2{
  display: flex;
  margin-left: -725px;
}
.form-3{
  margin-top: 180px;
  display: flex;
  margin-left: -47rem;
}
.form-4{
  margin-top: 275px;
  display: flex;
  margin-left: -332px;
}
.form-5{
  margin-top: 360px;
  display: flex;
  margin-left: -765px;
}
.form-6{
  margin-top: 500px;
  display: flex;
  margin-left: -70px;
}
.form-7{
  margin-top: 590px;
  display: flex;
  margin-left: -765px;
}
.form-8{
  margin-top: 680px;
  display: flex;
  margin-left: -765px;
}
.form-9{
  margin-top: 820px;
  display: flex;
  margin-left: -135px;
  
}
.sup-doc{
  background-color: rgb(228, 233, 238);
  width: 45rem;
  height: 65px;
  margin-top: 320px;
  padding-top: 15px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 12px;
 
}
.form-icrx{
  background-color: #fff;
  height: 70rem;
  width: 52rem;
  margin-left: 3rem;
  display: flex;
  margin-bottom: 100px;
}

