@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  
 }
 .main{
  display: flex;
  height: 100vh;
  
  flex-direction: column;
  }

 .sidebar{
  height: 100%;
  width: 265px;
  background-color: rgb(200, 32, 6);
  color: #fff;
  flex-shrink: 0;
  position: fixed;
  
  
}
.container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}
.sidebar-item{
  padding: 15px;
  display: block;
  color: #fff;  
  
  }
  .sidebar-item:hover{
    /* color: #fff;
    background: #fff; */
    background-color: rgb(103, 34, 34);
    
    }

    /* .sidebar-title:hover{
     
    color: rgb(200, 14, 14);
    } */

  .sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    
  }
  .sidebar-title span {
    display: flex;
    font-size: 12px;
    
    } 
  
  
  .sidebar-title span i{
    display: inline-block;
    width: 25px;
  }
  .sidebar-title i{
    transition: transform 0.5s;
    cursor: pointer;   
  }
  .sidebar-item.active .sidebar-title > i{
    transform: rotate(180deg);
  }
  .sidebar-content{
    padding-top: 10px;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
    
        
    }
    .sidebar-item.active .sidebar-content{
      height: auto;
      display: flex;
      flex-direction: column;
    }
    /* not for now...*/
.sidebar-content > i {
  width: 25px;
  font-size: 5px;
  }
  /* .card-div{
    overflow:'auto',
  } */

  .sidebar2{
    margin-top: 50px;
    padding: 10px;
  }